.section-services-area{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg-section-space{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-section-space img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.info-section-services{
    z-index: 1;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-services{
    width: 70%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.info-services h4{
    color: white;
    text-transform:uppercase;
    font-size:1.1rem;
    background-color: red;
    padding: 7px 10px;
    display: inline-block;
    margin-bottom:10px;
    letter-spacing: 1px;
}

.info-services h2{
    font-size:2.2rem;
    color: white;
    text-transform:uppercase;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing:1px;
}

.info-services h3{
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.btn-slice-services{
    width: 70%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap:20px;
}

.btn-slice-services button{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: 2px solid white;
    background-color:rgba(0, 0, 0, 0.575);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-slice-services button img{
    width:13px;
}

.btn-slice-services button:first-child img{
    transform: rotate(180deg);
}


.btn-slice-services button:hover{
    background-color:rgb(255, 0, 0);
}

.btn-slice-services-responsive{
    display: none;
}

.slider-section-services{
    z-index: 1;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


.item-slider{
    min-width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.slider:first-child{
    border-radius: 25px 0px 0px 25px;
}

.gradient-name-service{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.692));
}

.item-slider:hover{
    & .gradient-name-service{
        height: 60%;
        background: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 0, 0));
    }

    .box-arrow{
        background-color:rgb(255, 0, 0);
    }
}

.gradient-name-service h3{
    color: white;
    font-size: 1.3rem;
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.box-arrow{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.623);
    margin: 20px;
}

.box-arrow img{
    width: 15px;
}

.img-item-services{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


@media (max-width: 1024px){
    .section-services-area{
        flex-direction: column;
        align-items: center;
    }

    .info-section-services{
        width: 100%;
        height: 35%;
    }

    .info-services{
        width: 85%;
        height: 65%;
    }

    .info-services h2{
        font-size:1.8rem;
    }

    .slider-section-services{
        width: 100%;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-slice-services{
        display: none;
    }

    .btn-slice-services-responsive{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 20%;
        width: 85%;
        gap: 20px;
        z-index: 2;
    }

    .btn-slice-services-responsive button{
        width:50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        outline: 2px solid white;
        background-color:rgba(0, 0, 0, 0.575);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .btn-slice-services-responsive button img{
        width:13px;
    }
    
    .btn-slice-services-responsive button:first-child img{
        transform: rotate(180deg);
    }
    
    
    .btn-slice-services-responsive button:hover{
        background-color:rgb(255, 0, 0);
    }

    .slider{
        height: 100%;
        padding-left: 7%;
    }

    
    .bg-section-space img{
        transform: scaleX(-1);
        object-position: left;
    }
}