.free-inspection-container {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-column-contact {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
}

.black-bg-box {
  position: absolute;
  width: 150%;
  height: 100%;
  background: #000;
  border-radius: 24px;
  border: 2px solid black;
  z-index: -1;
}

.free-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(-5deg);
  position: absolute;
  top: -20%;
  left: -10%;
}

.text-explication {
  width: 70%;
  height: 20%;
  font-size: 1.8rem;
  color: white;
  top: 35%;
  left: 10%;
  position: absolute;
}

.castor-img {
  width: 320px;
  transform: scaleX(-1);
  bottom: -50px;
  position: absolute;
  left: 5%;
}

.second-column-contact {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
  background-color: #ffdb1f;
  border: 2px solid black;
  position: relative;
}

.tornillos-right {
  width: 20px;
  height: 90%;
  right: 10px;
  position: absolute;
}

.tornillos-left {
  width: 20px;
  height: 90%;
  left: 10px;
  position: absolute;
}

.icon-form {
  width: 40px;
  height: 40px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
  position: absolute;
}

.icon-form img {
  width: 20px;
}
.select-box {
  width: 90%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  border: none;
  outline: none;
  color: rgb(91, 91, 91);
}

.select-box option {
  background-color: red;
  color: white;
}

@media (max-width: 1024px) {
  .free-inspection-container {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
  }

  .first-column-contact {
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .black-bg-box {
    width: 70%;
    height: 120%;
    border: 2px solid;
    border-radius: 24px 24px 0 0;
  }

  .text-castor-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 84px;
    margin-left: 20px;
  }

  .free-title-box {
    width: 300px;
    transform: rotate(3.8deg);
    position: absolute;
    top: -100px;
    left: 30%;
  }

  .text-explication {
    width: 55%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: start;
    font-size: 1.4rem;
    color: white;
    position: static;
    margin-top: 30px;
  }

  .castor-img {
    width: 200px;
    transform: scaleX(1);
    position: static;
    z-index: 1;
  }

  .second-column-contact {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background-color: #ffdb1f;
    border: 2px solid black;
  }

  .tornillos-right {
    width: 20px;
    height: 90%;
    right: 10px;
    position: absolute;
  }

  .tornillos-left {
    width: 20px;
    height: 90%;
    left: 10px;
    position: absolute;
  }
}
@media (max-width: 600px) {
  .free-inspection-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }


  .first-column-contact {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border: 1px solid white;
  }

  .black-bg-box {
    width: 100%;
    height: 110%;
    border: 2px solid;
  }

  .free-title-box {
    width: 250px;
    transform: rotate(3.8deg);
    position: static;
    margin: -60px;
   border: 1px solid red;
  }

  .text-castor-container {
    width: 80%; /* Cambiamos a 90% para dejar espacio en los márgenes */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   border: 1px solid green;
    /* Eliminamos el margin-top para centrar verticalmente */
  }

  .text-explication {
    width: 100%; /* Cambiamos a 90% para mantener el mismo ancho que el contenedor */
    font-size: 1.3rem;
    color: white;
    position: static;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
    
  }

  .castor-img {
    width: 180px;
    transform: scaleX(1);
    position: static;
    z-index: 1;
  }

  .second-column-contact {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background-color: #ffdb1f;
    border: 2px solid black;
  }

  .tornillos-right {
    width: 20px;
    height: 90%;
    right: 10px;
  }

  .tornillos-left {
    width: 20px;
    height: 90%;
    left: 10px;
  }
}
