.cont-body-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-general-app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.bg-home {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  object-fit: cover;
  z-index: -1;
}

.left-home-cont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  animation: titleHome 2s ease-in-out;
}

@keyframes titleHome {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cont-title {
  width: 90%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.cont-info-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cont-info-items h1 {
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 2.5px;
}

.cont-info-items h1 .first {
  background-color: rgba(255, 0, 0, 0.884);
  padding: 4px 10px;
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: blur(10px);
}

.cont-info-items h1 .second {
  background-color: rgba(0, 0, 0, 0.76);
  padding: 4px 10px;
  border-radius: 0px 10px 0px 0px;
  backdrop-filter: blur(10px);
}

.cont-info-items h1 .tercer {
  background-color: rgba(255, 0, 0, 0.884);
  padding: 4px 10px;
  border-radius: 0px 10px 10px 10px;
  backdrop-filter: blur(10px);
}

.cont-title h2 {
  font-size: 1.1rem;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.1;
  margin-left: 10px;
  text-shadow: 0px 0px 10px black;
}

.cont-contact-home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 8%;
}

.cont-contact-home .btn-contact {
  background-color: rgba(255, 0, 0, 0.822);
  color: white;
  padding: 12px 20px;
  border: 2px solid red;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.cont-contact-home .btn-contact:hover {
  border: 2px solid white;
  background-color: white;
  color: red;
}

.right-home-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.cont-certified-home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5%;
  margin-right: 5%;
  animation: titleHome 2s ease-in-out;
}

.cont-certified-home img {
  width: 80px;
}

@media (max-width: 1024px) {
  .cont-contact-home {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .cont-info-items h1 {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .cont-title h2 {
    font-size: 1.0rem;
  }

  .cont-contact-home .btn-contact {
    font-size: 0.9rem;
  }
}
