.storm-intro-container {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0 60px 0;
}

.storm-intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
}

.storm-intro-title h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.storm-intro-title h2 span {
  color: red;
}

.storm-items {
  width: 90%;
  height: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.storm-intro-info {
  width: 65%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.info-storm-cont {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.storm-intro-info p {
  width: 100%;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

.storm-intro-btn {
  width: 220px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  background-color: rgba(188, 0, 0, 0.925);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 16px;
  border: 2px solid red;
  padding: 15px 10px;
}

.storm-intro-btn:hover {
  background-color: rgba(0, 0, 0, 0.215);
  color: red;
  border: 2px solid red;
}

.second-storm-column {
  width: 30%;
  height: 400px;
  min-width: 360px;
}

.second-storm-column img {
  width: 100%;
  min-width: 360px;
  height: 400px;
  border-radius: 24px;
  object-fit: cover;
}

.black-span-bg {
  width: 140%;
  height: 140%;
  z-index: -1;
  position: absolute;
  background-color: black;
  border-radius: 0 36px 36px 0;
}

@media (max-width: 1024px) {
  .storm-intro-container {
    width: 100%;
    height: 1000px;
    margin: 40px 0 40px 0;
  }

  .storm-intro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 20%;
  }

  .storm-intro-title h2 {
    width: 100%;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }

  .storm-items {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
  }

  .storm-intro-info {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
  }

  .info-storm-cont {
    width: 100%;
    height: 70%;
    max-width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .storm-intro-info p {
    width: 100%;
    color: white;
    font-size: 1rem;
    letter-spacing: 1.4px;
    line-height: 1.5;
    text-align: center;
  }

  .storm-intro-btn {
    width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background-color: red;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 16px;
    padding: 15px 10px;
    margin-bottom: -20px;
  }

  .second-storm-column {
    width: 80%;
    height: 50%;
  }

  .second-storm-column img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
  }

  .black-span-bg {
    display: none;
  }

  .black-span-bg-responsive {
    width: 100%;
    height: 80%;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 36px;
  }
}

@media (max-width: 600px) {
  .storm-intro-container {
    width: 100%;
    height: 100vh;
    gap: 40px;
    margin: 140px 0 40px 0;
  }

  .storm-intro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
  }

  .storm-intro-title h2 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }

  .storm-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
  }

  .storm-intro-info {
    width: 90%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .info-storm-cont {
    width: 100%;
    height: 90%;
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .storm-intro-info p {
    width: 100%;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
  }

  .storm-intro-btn {
    width: 200px;
    justify-content: center;
    gap: 20px;
    font-size: 1.4rem;
    border-radius: 16px;
    padding: 15px 0px;
    margin-bottom: 10px;
  }

  .second-storm-column {
    width: 100%;
    height: 35%;
  }

  .second-storm-column img {
    width: 100%;
    height: 100%;

  }

  .black-span-bg {
    display: none;
  }

  .black-span-bg-responsive {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 36px;
  }
}
