.slider-banner-container {
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5% 0 5% 0;
}

.banner-slider-title {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.banners-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 40px 0;
  scrollbar-width: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: scroll 0.5s ease;
  gap: 20px;
}

.financy-banner-container {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
}

/* first-banners-styles */

.second .financy-title-parraf {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(138, 138, 138);
}

.second .financy-title-parraf hr {
  background-color: rgb(138, 138, 138);
}

.second .financy-title-parraf img {
  border-radius: 0%;
  width: 60px;
}

.second .black-button-financy {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.second .black-button-financy:hover {
  background-color: red;
  color: white;
}

/* second-banners-styles */

.third .financy-title-parraf {
  background-color: #ffd600;
  border: 2px solid rgb(0, 0, 0);
  color: black;
}

.third .financy-title-parraf hr {
  background-color: rgb(0, 0, 0);
}

.third .financy-title-parraf img {
  border-radius: 0%;
  width: 60px;
}

.third .black-button-financy {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.third .black-button-financy:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.third .financy-banner-title {
  color: black;
}

.third .financy-title-parraf h3{
  color: black;
}

.third .financy-second-parraf {
  color: black;
}

/* end-banners-styles */

.financy-title-parraf {
  width: 32%;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-left: 5%;
  padding: 1% 0%;
  background-color: rgba(209, 0, 0, 0.765);
  border: 2px solid red;
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.financy-banner-info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.financy-img-p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.financy-img-p p {
  font-size: 1rem;
}

.financy-banner-info hr {
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 3px;
  background-color: red;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.financy-banner-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.financy-title-parraf img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.financy-title-parraf h3 {
  width: 100%;
  color: white;
  text-align: start;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.financy-title-parraf span {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.financy-second-parraf {
  width: 100%;
  text-align: start;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 2px;
}

.financy-title-parraf .financy-btn {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.black-button-financy {
  background-color: black;
  color: white;
  padding: 20px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.black-button-financy:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.financy-banner-container-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  border-radius: 24px;
}

.banner-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  gap: 15px;
}

.banner-button-container button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  cursor: pointer;
}

.banner-button-container button:hover {
  transform: scale(1.1);
}

.banner-arrow-left {
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .slider-banner-container {
    width: 85%;
    height: 640px;
  }

  .banners-container {
    width: 100%;
    height: 100%;
    gap: 40px;
  }

  .financy-banner-container {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    border-radius: 24px;
  }

  .financy-title-parraf {
    width: 40%;
    min-height: 380px;
    gap: 50px;
  }

  .financy-banner-info {
    width: 85%;
    gap: 15px;
  }

  .financy-img-p p {
    font-size: 1.1rem;
  }

  .financy-banner-title {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .financy-title-parraf img {
    width: 30px;
    height: 30px;
  }

  .financy-title-parraf h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .financy-title-parraf span {
    font-size: 1.5rem;
  }

  .financy-second-parraf {
    font-size: 1.3rem;
  }

  .financy-title-parraf .financy-btn {
    width: 85%;
  }

  .financy-banner-container-img {
    width: 100%;
    height: 100%;
  }

  .banner-button-container {
    display: none;
  }
}

@media (max-width: 600px) {
  .slider-banner-container {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0 0% 0;
  }

  .banner-slider-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .banners-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    animation: cardSlider 1s ease forwards;
    animation-delay: 6s;
  }

  @keyframes cardSlider {
    from {
      transform: translateX(-60px);
      right: -60px;
    }
    to {
      transform: translateX(0px);
      left: 0px;
    }
  }

  .financy-banner-container {
    width: 100%;
    height: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: static;
    border-radius: 24px;
    background-color: rgb(208, 0, 0);
  }

  .financy-title-parraf {
    width: 100%;
    min-height: 380px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-left: 0%;
    padding: 8% 0;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid rgb(255, 255, 255);
    backdrop-filter: blur(0px);
    border-radius: 16px;
  }

  .financy-banner-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20px;
  }

  .financy-banner-title {
    width: 100%;
    font-size: 1.6rem;
  }

  .financy-title-parraf img {
    width: 30px;
    height: 30px;
  }

  .financy-img-p p {
    font-size: 1.1rem;
  }

  .financy-title-parraf h3 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }

  .financy-title-parraf span {
    font-size: 1.8rem;
  }

  .financy-second-parraf {
    text-align: center;
    font-size: 1rem;
  }

  .financy-title-parraf .financy-btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .black-button-financy {
    background-color: black;
    color: white;
    padding: 20px 30px;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }

  .financy-banner-container-img {
    width: 75%;
    min-height: 240px;
    height: 40%;
    z-index: 1;
    position: static;
    object-fit: cover;
    object-position: right;
    border-radius: 24px;
    margin-top: -60px;
  }
}
