.financy-banner-container {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5% 0 5% 0;
  position: relative;
  border-radius: 24px;
}

.financy-title-parraf {
  width: 32%;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-left: 5%;
  padding: 1% 0%;
  background-color: rgba(209, 0, 0, 0.765);
  border: 2px solid red;
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.financy-banner-info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.financy-img-p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.financy-img-p p{
  font-size: 1rem;
}

.financy-banner-info hr {
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 3px;
  background-color: red;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.financy-banner-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.financy-title-parraf img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.financy-title-parraf h3 {
  width: 100%;
  color: white;
  text-align: start;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.financy-title-parraf span {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.financy-second-parraf {
  width: 100%;
  text-align: start;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 2px;
}

.financy-title-parraf .financy-btn {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.black-button-financy {
  background-color: black;
  color: white;
  padding: 20px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.black-button-financy:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.financy-banner-container-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  border-radius: 24px;
}

@media (max-width: 1024px) {
  .financy-banner-container {
    width: 85%;
    height: 480px;
    margin: 15% 0 10% 0;
  }

  .financy-title-parraf {
    width: 40%;
    min-height: 380px;
    gap: 50px;
  }

  .financy-banner-info {
    width: 85%;
    gap: 15px;
  }

  .financy-img-p p{
    font-size: 1.1rem;
  }

  .financy-banner-title {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .financy-title-parraf img {
    width: 30px;
    height: 30px;
  }

  .financy-title-parraf h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .financy-title-parraf span {
    font-size: 1.5rem;
  }

  .financy-second-parraf {
    font-size: 1.3rem;
  }

  .financy-title-parraf .financy-btn {
    width: 85%;
  }

  .financy-banner-container-img {
    width: 100%;
    height: 100%;
  }
  
}

@media (max-width: 600px) {
  .financy-banner-container {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 50% 0 5% 0;
    position: static;
    border-radius: 24px;
    background-color: rgb(208, 0, 0);
  }

  .financy-title-parraf {
    width: 100%;
    min-height: 380px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-left: 0%;
    padding: 8% 0;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid rgb(255, 255, 255);
    backdrop-filter: blur(0px);
    border-radius: 16px;
  }

  .financy-banner-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
  }

  .financy-banner-title {
    width: 100%;
    font-size: 1.6rem;
  }

  .financy-title-parraf img {
    width: 30px;
    height: 30px;
  }

  .financy-img-p p{
    font-size: 1.2rem;
  }
  
  .financy-title-parraf h3 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }
  
  .financy-title-parraf span {
    font-size: 1.8rem;
  }
  
  .financy-second-parraf {
    text-align: center;
    font-size: 1.3rem;
  }

  .financy-title-parraf .financy-btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
  }

  .black-button-financy {
    background-color: black;
    color: white;
    padding: 20px 30px;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }


  .financy-banner-container-img {
    width: 85%;
    min-height: 300px;
    height: 50%;
    z-index: 1;
    position: static;
    object-fit: cover;
    object-position: right;
    border-radius: 24px;
    margin-top: -140px;
  }
}
