.free-inspecton-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.inspection-title img{
 width: 500px;
}

